.game-card {
    position: relative;
}

.favorite-button {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 2rem;
    height: 2rem;
    z-index: 2;
}

.favorite-button.favorite svg {
    fill: var(--color-blue-500);
    stroke: var(--color-blue-500);
}