header {
    background-color: var(--color-primary);
    color: white;
    padding: 1rem;
    margin-bottom: calc(var(--spacing)* 4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    a:hover {
        color: var(--color-secondary);
    }

    nav {
        display: flex;
        gap: 1rem;
    }

    #searchBarWrapper {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 300px;
        width: 100%;
    }

    #searchBarWrapper input {
        width: 100%;
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;
    }

    #searchBarWrapper input:focus {
        border-color: var(--color-secondary);
    }

    #searchBarWrapper button {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        width: 2rem;
        padding: 0.2rem;
        border: 3px solid black;
        border-radius: 100%;
    }

}

@media (max-width: 768px) {
    header {
        .container {
            flex-direction: column;
            text-align: center;
        }

        nav {
            margin-top: 0.5rem;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
    }
}